/*
Colors used:
Primary color: (Blue) #0064E0; rgb((0, 100, 224)
Other colors: 1. Light gray: #C5C5C5; 2. Dark gray : #575756; 3. White : #FFFFFF; 4. Black : #000000; 767676;
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #575756;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #0064e0;
  text-decoration: none;
  transition: 0.2s opacity;
}

a:visited {
  color: #0064e0;
}

a:hover,
a:focus {
  opacity: 0.5;
  text-decoration: underline;
}

a:active {
  color: #575756;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #0064e0;
  color: #fff !important;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.5;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #0064e0 !important;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #0064e0;
  margin: 0 5px;
  transition: 0.2s opacity, 0.3s background-color, 0.4s color;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #0064e0;
  color: #fff !important;
  opacity: 0.5;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
  text-align: left;
}

#hero {
  text-align: center;
  background-color: #f4f7fb;
  padding: 15px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

.herotext > h1 {
  font-size: 2.35em;
  font-weight: 700;
  margin: 15px 0 0;
}

h1 span {
  font-weight: 400;
}

.herotext > p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5em;
}

#contact {
  text-align: center;
}

.logo {
  max-width: 60px;
}

header {
  background-color: #f4f7fb;
  padding: 10px 0 4px;
  box-shadow: 0 1px 1px 0 rgba(235, 235, 235, 0.8);
  position: fixed;
  width: 100%;
  z-index: 999999;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  line-height: 1;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #0064e0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 22px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
  text-align: center;
}

.navtoggle.responsive li {
  display: block;
  padding: 15px 0;
  border-top: 2px solid #fff;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

main {
  padding-top: 91px;
}

footer {
  background-color: #f4f7fb;
  padding: 10px 0;
}

.icon {
  max-width: 40px;
  margin: 5px;
}

.social {
  list-style-type: none;
  margin: 15px;
}

.firstheader > h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
}

.secondheader > h2 {
  text-align: center;
  color: #fff;
  font-size: 1.55em;
  padding-top: 1em;
  background: #0064e0;
  padding-bottom: 1em;
  text-transform: uppercase;
}

.secondheader > h3 {
  text-align: center;
  color: #0064e0;
  font-size: 1.4em;
  background: #f4f7fb;
  padding-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#project_links > ul {
  padding: 0;
  text-align: center;
}

#project_links > ul > li {
  list-style-type: none;
  padding: 5px 0;
}

#project_links > ul > li > a {
  font-weight: 400;
  color: #0064e0;
  text-decoration: underline;
}

#project_links > ul > li > a:hover {
  font-weight: 400;
  color: #0064e0;
}

.project_end {
  margin: 15px 0;
  text-align: center;
}

/* video original settings
width="1320" height="702" controls */
video {
  width: 100%;
}

.PP_animation {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 {
  margin-top: 0;
}

#about-page h2 {
  text-align: center;
}

#resume {
  display: table;
  margin: 0 auto;
}

nav a:hover {
  text-decoration: none;
  opacity: 100%;
}

#contact span {
  display: block;
}

#contact {
  margin: 0;
}

#skillsandtools {
  display: inline-block;
}

#skills h3 {
  display: inline-block;
}

#tools h3 {
  display: inline-block;
}

#project-page img {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}

#project-page h4 {
  font-weight: 600;
}

.secondheader > h2 {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
}

.secondheader > h3 {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
}

#wireframes2 img {
  width: 65%;
  padding-top: 0;
}

#userflows1 img {
  padding-bottom: 0;
}

#listing-slider {
  width: 100%;
}

#devices2 {
  width: 100%;
  margin: auto;
}

.steps {
  text-transform: uppercase;
}

#steps > ul {
  list-style-type: none;
  padding: 0;
  line-height: 1.8;
  margin: 0;
  font-size: 0.8em;
  margin-bottom: 10px;
}

#steps {
  text-align: center;
}

.steps li > a {
  font-weight: 500;
  color: #0064e0;
  text-decoration: underline;
  font-size: 16px;
}

.steps li > a:hover,
.steps li > a:focus {
  color: #575756;
  opacity: 100%;
}

.steps li > a:active {
  color: #575756;
}

#tools ul {
  margin-top: 0;
}

.goback {
  font-size: 0.8em;
  text-decoration: underline;
  text-align: right;
  padding: 0;
}

.tools img {
  width: 40px;
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}

.p_800 {
  max-width: 800px;
  margin: 30px auto;
  line-height: 31px;
  text-align: left;
}

#chart {
  width: 0%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#steps h3 {
  font-size: 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  main {
    padding-top: 124px;
  }

  header {
    text-align: unset;
    padding: 18px 0;
  }

  .logo {
    max-width: 70px;
    padding-top: 10px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
    border-top: 0;
  }

  nav ul a {
    position: relative;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .goback {
    font-size: 0.8em;
    text-decoration: underline;
    text-align: right;
    padding: 10px 0;
  }

  /* Circle behind */
  nav ul.circleBehind a::before,
  nav ul.circleBehind a::after {
    position: absolute;
    top: 13px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #bad8fd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
  }

  nav ul.circleBehind a::after {
    border-width: 2px;
    transition: all 0.4s;
  }

  nav ul.circleBehind a:hover::before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  nav ul.circleBehind a:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
  }

  body {
    font-size: 18px;
  }

  [class*="col-"] {
    float: left;
    padding: 25px;
  }

  /* For desktop: */
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  .column_left > h2 {
    margin-block-start: 0;
  }

  #skillsandtools {
    text-align: left;
  }

  .secondheader > h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.2em;
  }

  .secondheader > h3 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1.5em;
    margin-bottom: 0;
    font-size: 1.2em;
  }

  #wireframes2 img {
    width: 65%;
    padding-top: 1.8em;
  }

  #userflows2 img {
    width: 51%;
    padding-top: 1.8em;
  }

  #project-page img {
    padding-bottom: 1.8em;
  }

  .steps li > a {
    font-size: 1.2em;
  }

  #chart {
    width: 100%;
    margin-left: 0;
  }

  .PP_animation {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  #project-overview {
    text-align: left;
  }

  .tools img {
    float: left;
  }

  .p_800 {
    text-align: center;
  }

  #steps {
    text-align: left;
  }

  #steps h3 {
    font-size: 1.3em;
    font-weight: 600;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  main {
    padding-top: 124px;
  }

  header {
    text-align: unset;
    padding: 18px 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  /* For desktop: */
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  #resume {
    margin: 0;
  }

  #skillsandtools ul {
    display: block;
    padding-inline-start: 0;
  }

  .secondheader > h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em;
  }

  .secondheader > h3 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 1.5em;
  }

  #project-overview .col-lg-7 {
    float: right;
  }

  #project-overview .col-lg-5 {
    float: left;
  }

  #animation-devices .col-lg-4 {
    float: left;
  }

  #devices2 {
    width: 66.66%;
    margin: auto;
  }

  .steps li > a {
    font-size: 1.2em;
  }

  #aboutme h2 {
    text-align: left;
  }

  #skillsandtools h2 {
    text-align: left;
  }

  #chart {
    width: 90%;
  }

  .PP_animation {
    width: 70%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 18px;
  }

  .column_left > h2 {
    margin-block-start: 0;
  }

  .PP_animation {
    width: 70%;
  }
}
